version: '3.5'

services:
  db:
    image: postgres
    restart: always
    environment:
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_DB=postgres
    container_name: postgres
    ports:
      - '5432:5432'

  server:    
    build: ./server    
    container_name: api_backend    
    ports:      
      - '5000:5000'    

  client:
    build: ./client
    container_name: api_frontend
    ports:
      - '3000:3000'
    depends_on:
      - server
