.list-item-dots {
  cursor: pointer;
}

.popup {
  position: absolute;
  left: calc(50% - 70px);
  top: 30px;
  width: 140px;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
  z-index: 100;
}

.list-item:hover .popup {
  display: block;
}

.popup > div {
  margin-bottom: 5px;
}

.popup > div:last-child {
  margin-bottom: 0;
}

.Edit,
.Add-new-card,
.Delete {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.Delete {
  color: red;
}

.Add-new-card {
  padding-top: 10px;
  padding-bottom: 10px;
}

.Edit > svg,
.Add-new-card > svg,
.Delete > svg {
  margin-right: 5px;
}

.dot-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

.dot-circle-text {
  font-size: 12px;
}
